# Endangered Species Lab Notebook

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [2]:
df = pd.read_csv("data/WILD_LIFE.csv")

In [3]:
df

,IUCN,IUCN Category,SPEC,Species,COU,Country,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,TOT_KNOWN,Total number of known species,MAMMAL,Mammals,AUS,Australia,NBR,Number,0,Units,NaN,NaN,380.000,NaN,NaN
1,TOT_KNOWN_IND,Total number of indigenous known species,MAMMAL,Mammals,AUS,Australia,NBR,Number,0,Units,NaN,NaN,353.000,NaN,NaN
2,ENDANGERED,Number of endangered species,MAMMAL,Mammals,AUS,Australia,NBR,Number,0,Units,NaN,NaN,38.000,NaN,NaN
3,CRITICAL,Number of critically endangered species,MAMMAL,Mammals,AUS,Australia,NBR,Number,0,Units,NaN,NaN,10.000,NaN,NaN
4,VULNERABLE,Number of vulnerable species,MAMMAL,Mammals,AUS,Australia,NBR,Number,0,Units,NaN,NaN,59.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3459,CRITICAL_IND,Number of critically endangered indigenous spe...,LICHEN,Lichens,CHL,Chile,NBR,Number,0,Units,NaN,NaN,1.000,NaN,NaN
3460,VULNERABLE_IND,Number of vulnerable indigenous species,LICHEN,Lichens,CHL,Chile,NBR,Number,0,Units,NaN,NaN,1.000,NaN,NaN
3461,THREATENED_IND,Total number of indigenous threatened species,LICHEN,Lichens,CHL,Chile,NBR,Number,0,Units,NaN,NaN,2.000,NaN,NaN
3462,CRITICAL,Number of critically endangered species,MAMMAL,Mammals,CRI,Costa Rica,NBR,Number,0,Units,NaN,NaN,1.000,NaN,NaN
3463,THREAT_PERCENT,Threatened species as % of known species,FISH_TOT,Fish,ESP,Spain,PC,Percentage,0,Units,NaN,NaN,3.665,NaN,NaN